<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>web.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>web.Auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signServ</servlet-name>
        <servlet-class>web.signServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sellServ</servlet-name>
        <servlet-class>web.sellServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>donateServ</servlet-name>
        <servlet-class>web.donateServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCartServ</servlet-name>
        <servlet-class>web.addCartServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>web.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>web.checkout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/Auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signServ</servlet-name>
        <url-pattern>/signServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sellServ</servlet-name>
        <url-pattern>/sellServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>donateServ</servlet-name>
        <url-pattern>/donateServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCartServ</servlet-name>
        <url-pattern>/addCartServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
